html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}

.masthead {
position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  background-color: rgba(0, 46, 102, 0.8);
  -webkit-transform: skewY(4deg);
  transform: skewY(4deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.masthead .masthead-content .input-group-search input {
  height: auto;
  font-size: 1rem;
  padding: 1rem;
}

.masthead .masthead-content .input-group-search button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead .masthead-bg {
    min-height: 0;
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

.masthead2 {
  position: relative;
  padding-bottom: 3rem;
  z-index: 2;

}

.masthead2 .masthead2-bg {
 position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
}

.masthead2 .masthead2-content h1 {
  font-size: 2.5rem;
}

.masthead2 .masthead2-content p {
  font-size: 1.1rem;
  align: justify;
}

.masthead2 .masthead2-content p strong {
  font-weight: 700;
}

.masthead2 .masthead2-content label {
  font-size: 1.2rem;

}

.masthead2 .masthead2-content label strong {
  font-weight: 700;
  color: #ba7c37;
  font-style: italic;
}

.masthead2 .masthead2-content .input-group-search input {
  height: auto;
  font-size: 1rem;
  padding: 1rem;
}

.masthead2 .masthead2-content .input-group-search button {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .masthead2 {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
    padding-bottom: 0;
  }
  .masthead2 .masthead2-bg {
    min-height: 0;
  }
  .masthead2 .masthead2-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead2 .masthead2-content h1 {
    font-size: 3.5rem;
  }
  .masthead2 .masthead2-content p {
    font-size: 1.1rem;
    align: justify;
  }
  .masthead2 .masthead2-content label {
    font-size: 1.3rem;
    color: #ba7c37;
    font-style: italic;
  }
}

.share-icon {
  position: absolute;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
}

.share-icon ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.share-icon ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.share-icon ul > li > a {
  display: block;
  color: white;
  background-color: rgba(0, 46, 102, 0.8);
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}

@media (min-width: 768px) {
  .share-icon {
    margin: 0;
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    width: auto;
  }
  .share-icon ul {
    margin-top: 0;
    width: auto;
  }
  .share-icon ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .share-icon ul > li:last-child {
    margin-bottom: 0;
  }
  .share-icon ul > li > a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .share-icon ul > li > a:hover {
    background-color: #002E66;
  }
}

.btn-secondary {
  background-color: #cd9557;
  border-color: #cd9557;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #ba7c37 !important;
  border-color: #ba7c37 !important;
}

.input {
  font-weight: 300 !important;
}
